.moduls {
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
 
    
  }
  
  .moduls__content {
      
    background-color: white;
    width: 700px;
    height: 250px;
    border-radius: 10px;
    
  }
  