.sidebar {
  padding: 20px 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 5px 0px 5px -1px rgba(0,0,0,0.25);
}

.sidebar__logo {
  width: 120px;
  margin-left: 50px;
}

.sidebar__menu {
  flex: 1;
  background: #1d9935;
  margin-top: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.shape-top {
  height: 220px;
  background: #1d9935;
  position: relative;
  overflow: hidden;
}

.shape-top--white {
  position: absolute;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background-color: white;
  left: 0;
  top: -250px;
}

.menu-contents {
  padding: 20px;
}

@media (max-height: 1000px) {
  .shape-top {
    height: 100px;
  }
}
