.confirm {
    text-align: center;
    padding: 30px;
}

.confirm_choix{
    display: flex;
    text-align: center;
    padding: 30px;
    column-gap: 50px;
    
}

.confirm_yes{
    display: flex;
    align-items: center;
    column-gap: 10px;
    border :1px solid #1D9935;
    border-radius: 5px;
    padding: 10px;
    color: white;
    background-color: #1D9935;
}

.confirm_no{
    display: flex;
    align-items: center;
    column-gap: 10px;
    border :1px solid #DC1F4C;
    border-radius: 5px;
    padding: 10px;
    color: white;
    background-color: #DC1F4C;
}
