.modul {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.modul__overview {
   background-color: rgba(0, 0, 0, 0.2);;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modul__content {
  background-color: white;
  width: 300px;
  height: 300px;
  border-radius: 5%;
  z-index: 50;
}
