.header {
  display: flex;
  justify-content: space-between;
}
.search-bar {
  background-color: white;
  padding: 0 10px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.search-bar__icon {
  font-size: 20px;
}

.search-bar__input {
  border: none;
  outline: none;
  padding: 10px;
}

.header__right {
  display: flex;
  align-items: center;
  column-gap: 20px;
  color: #a3a3a3;
}

.notifications {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 20px;
}

.header__user {
  display: flex;
  align-items: center;
  column-gap: 10px;
  background-color: white;
  padding: 5px 10px;
  border-radius: 10px;
}

.user-image {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.icon-sort-down {
  color: #1d9935;
  font-size: 20px;
}
