.dash{
    display: grid;
    grid-template-columns: 75% 25%;
    padding-top: 10px;
    column-gap: 20px;
}



.dash_apercu {
    display: flex;
    column-gap: 20px; 
}

.dash_scolaire {
    border: 1px solid rgba(29, 153, 53, 1);
    background-color: rgba(29, 153, 53, 1);
    border-radius: 5px;
    padding: 15px;
    color: white;
}

.dash_premier_parcours{
    border:1px solid white;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    color: #606060;
    margin-bottom: 10px;
}

.dash_professeurs{
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    display: flex;
    column-gap: 10px;
}

.dash_premier{
    display: grid;
    grid-template-columns: 60% 18% 20%;
    padding-top: 10px;
    column-gap: 10px;
}

.dash_etudiant{
    border: 1px solid white;
    border-radius: 6px;
    background-color: white;
  
}


.dash_professeurs_ligne {
    border: 1px solid #606060;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: #606060;
}

.dash_professeurs_ronds{
    border: 1px solid ;
    height: 80px;
    width: 80px;
    border-radius: 80%;
}

.dash2 {
    border: 1px solid white;
    border-radius: 5px;
    background-color: white;
}

.dash_presence_bar{
    border: 5px solid rgba(29, 153, 53, 1);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.dash_presence_niveau {
    display: flex;
    column-gap: 50%;
    margin-left: 10px;
    margin-top: 20px;
}

.dash_diagramme {
    display: flex;
    margin-left: 50px;
    column-gap: 10px;
}

.dash_niveau_premier{
    border: 1px solid rgba(29, 153, 53, 1);
    height: 214px;
    width: 50px;
    border-radius: 16px;
    background-color: rgba(29, 153, 53, 1);
}

.dash_niveau_deuxieme {
    border: 1px solid rgba(29, 153, 53, 1);
    height: 150px;
    width: 50px;
    border-radius: 16px;
    background-color: rgba(29, 153, 53, 1);
}

.dash_border {
    display: flex;
    column-gap: 50px;
}

.dash_icone {
    margin-left: 200px;
}

.dash_paragraphe1 {
    font-weight: 800px;
    color: black;
}