.appel_paragraphe {
    text-align: center;
    padding-top: 20px;
    font-size: 16px;
    color: black;
}

.confirmation {
    display: flex;
    align-items: center;
    column-gap: 20px;
    border: 1px solid #1d9935;
    background-color: #1d9935;
    color: white;
    padding: 15px;
    border-radius: 10px;
}

.icon_confirmation {
    font-size: 28px;
}

.refuser {
    display: flex;
    align-items: center;
    column-gap: 20px;
    border: 1px solid #DC1F4C;
    background-color: #DC1F4C;
    color: white;
    padding: 15px;
    border-radius: 10px;
}