@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}



body {
  height: 100vh;
  font-family: "Poppins";
  font-size: 14px;
  background-color: #E7E7E7;
  position: relative;
  color: gray;
}

a {
  color: inherit;
  text-decoration: none;
}

.page {
  height: 100vh;
}

.page__left {
  position: fixed;
  height: 100vh;
  width: 250px;
  background-color: red;
}

.page__right {
  margin-left: 250px;
  height: 100%;
  padding: 20px;
}