.listetudiants {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.listetudiants__detail{
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    margin-top: 40px;
    align-items: center;
}

.listetudiants__icon{
    display: flex;
    border: 2px solid #606060;
    border-radius: 5px;
    padding: 5px 10px ;
    background-color: white;
    column-gap: 20px;
}

.listetudiants__filtre{
    display: flex;
    justify-content: space-between;
    column-gap: 20px  ;
    justify-content: center;
    margin-top: 40px;
}

.listetudiants__recherche{
    display: flex;
    border: 2px solid #606060;
    border-radius: 5px;
    padding: 5px 10px ;
    background-color: white;
    column-gap: 20px;
    color: #606060;
}

.listetudiants__paragraphe{
    color: black;
    
}

.listetudiants__paragraphe1{
    color: #606060;
}

.listetudiants_ronds1{
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: #1D9935;
}

.listetudiants__presente{
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.listetudiants_ronds2{
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: #DC1F4C;
 
}


.listetudiants_absente{
    display: flex;
    justify-content: center;
    column-gap: 10px;
}


